*{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    color: white;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 75px;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h3 {
    font-size: 25px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

nav{
    background-color: black;
    margin: -19px;
    padding: 2px;
}
nav ul .items{
    display: inline-flex;
    flex-direction: row;
    
}

.items li{
    padding: 20px;
    list-style: none;
    
    color: white;
    font-size: 28px;
}
.searchbar{
    display: inline-flex;
    margin: 0px;
    width: 995px;
    justify-items: right;
    justify-content: right;
    

}
li a{
    text-decoration: none;

}
li a:hover{
    color: red;
}
input{
    border: 2px solid;
    border-radius: 8px;
    padding: 8px 9px;
    color: black;
    
}
ul button{
    padding: 8px 14px;
    border: 2px solid;
    border-radius: 8px;
    color: black;
}

ul button:hover{
    cursor: pointer;
   
}

main {
    justify-content: center;
    align-items: center;
    display: flex;
}

button {
    color: white;
    background-color: rgb(35, 47, 62);
    border-radius: 15px;
    border-color: white;
    padding: 10px 20px;
    font-size: 20.5px;
    transition: all ease-in-out 0.2s;
    margin: 10px;
}

button:hover {
    background-color: rgb(25, 30, 40);
    cursor: pointer;
    transform: scale(1.1);
}

#particles-js {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index: -1;
}

#imgbtn {
    margin-left: 0.5px;
    margin-right: 0.5px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid transparent; 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.2s ease-in-out;
}
  
#imgbtn {
    position: relative;
    display: inline-block;
    margin: 5px;
}
  
#imgbtn:hover {
    transform: scale(1.07);
    border-color: white;
    border-radius: 5px;
}

iframe {
    width: 70vw;
    height: 70vh;
    border: 7.5px solid rgb(173, 173, 173);
}
